*{margin:0;padding:0}
div,h1,h2,h3,p,ul,li,input,textarea,table,tr,th,td,footer,header,nav{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{text-decoration:none;outline:none}
a img{border-style:none}
ul,li{list-style-type:none}

html {
font-size:62.5%
}
body {
background:#fff;
color:#000;
font-family:Verdana,Roboto,'游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
font-size:1.1em;
letter-spacing:1px;
line-height:150%;
overflow-wrap:break-word;
overflow-y:scroll;
word-wrap:break-word
}
a {
color:#4eabb8
}
/*--------------------------------------------------------
一番大きい囲い
--------------------------------------------------------*/
#gwrapper {
background-color:#fff;
/*border:0px solid #000;*/
margin:0px auto;
width:920px /* 全体の幅・大きさはここで変更 */
}

/*--------------------------------------------------------
右側
--------------------------------------------------------*/
#rwrapper {
float:right;
box-sizing: border-box;
background-color:#fff;
margin-top:20px; margin-bottom:20px;
margin-left:20px;
height:100%;
width:300px /* 全体の幅・大きさはここで変更 */
}

/*--------------------------------------------------------
左側
--------------------------------------------------------*/
#wrapper {
float:left;
box-sizing: border-box;
background-color:#fff;
border:1px solid #000;
margin-top:20px; margin-bottom:20px;
height:100%;
width:600px /* 全体の幅・大きさはここで変更 */
}
/*--------------------------------------------------------
上(ヘッダー)
--------------------------------------------------------*/
header {
border-bottom:0px dashed #000;
color:#000;
text-align:left
}
/*--------------------------------------------------------
メニュー
--------------------------------------------------------*/
#menu {
background-image:url(image/back02.gif);
border-bottom:1px dashed #000;
border-top:1px dashed #000;
padding:3px
}
nav ul {
text-align:center
}
nav li {
display:inline-block;
margin:0 6px
}
nav li a {
color:#000;
display:block;
font-weight:700;
margin-left:10px
}
#open{display:none}
/*--------------------------------------------------------
メイン
--------------------------------------------------------*/
#contents {
padding:10px;
text-align:left
}

/*--------------------------------------------------------
下(フッター)
--------------------------------------------------------*/
footer {
padding:10px 0;
text-align:right
}
.pagetop {
background-image:url(image/back02.gif);
border-bottom:1px dashed #000;
border-top:1px dashed #000;
padding: 0 10px;
text-align:left;
}
footer .sub {
padding: 0 10px;
text-align:right
}
/*--------------------------------------------------------
index
--------------------------------------------------------*/
#indexta {
margin:20px auto;
text-align:left;
width:600px /* 全体の幅・大きさはここで変更 */
}
/*--------------------------------------------------------
見出し、枠、線
--------------------------------------------------------*/
h1 {
font-size:1em
}
h1 a {
color:#000
}
h2 {
background-image:url(image/back01.gif);
border-left:5px solid #000;
font-size:1em;
height:25px;
line-height:25px;
margin:10px 0;
padding-left:10px
}
h3 {
background:url(image/a02.gif) no-repeat 0 50%;
border-bottom:1px dotted #000;
color:#000;
font-size:1em;
margin:10px 0;
padding-left:20px
}
.marker {
background:#d7ecef;
padding:1px 5px
}
.ln01 {
border-left:3px solid #000;
margin:5px 0;
padding:3px
}
.ln02 {
border-left:3px solid #4eabb8;
margin:5px 0;
padding:3px
}
.navi {
border:2px solid #000;
margin:10px 0;
padding:3px;
text-align:center
}
.title {
font-size:1.1em;
font-weight:700;
margin:2em 0;
text-align:right
}
.txt {
background:url(image/back03.gif) repeat-y 0 0;
margin:10px 0;
padding:5px
}
dt {
font-weight:700;
float:left;
margin:0 0 10px;
width:160px
}
dtt {
font-weight:700;
float:left;
width:100px
}
dd {
border-bottom:1px dotted #000;
margin:0 0 10px 160px
}
db {
border-bottom:1px dotted #000;
}
dl:after{
content:"";
clear:both;
height:0;
display:block;
visibility:hidden;
}
em {
background-image:url(image/back02.gif);
font-weight:700
}
input,textarea {
background-color:#fff;
border:1px solid #000;
color:#000;
font-family:Verdana,Roboto,'游ゴシック','Yu Gothic','游ゴシック体','YuGothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
font-size:1em;
margin:3px 0;
width:80%
}
textarea {
height:50px
}
.frame {
background:#fff;
border:1px solid #000;
padding:5px;
}
hr {
display:block;
border:0;  
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
height:1px
}
.cf:before,.cf:after{content:" ";display:table}
.cf:after{clear:both}
/*--------------------------------------------------------
スマホ、タブレット用
横幅480pxで切り替え
--------------------------------------------------------*/
@media screen and (max-width: 480px) {
body {
margin:10px;
font-size:1.5em
}
#indexta,#wrapper {
position:relative;
width:100%
}
header {
min-height:50px;
}
dt{float:none;width:auto}
dd{margin-left:20px}
/*--------------------------------------------------------
スマホ、タブレット用メニュー
--------------------------------------------------------*/
/* メニューを開くボタン */
#open {
background:#fff;
border-radius:20px;
display:inline-block;
margin:0 5px;
position:absolute;
height:40px;width:40px; /* 大きさ */
top:5px;right:10px /* 位置 */
}
#open-icon,#open-icon:before,#open-icon:after {
background:#000; /* 線の色 */
}
#open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:50%;left:50%;height:2px;width:20px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
#open-icon:before{margin-top:-8px}
#open-icon:after{margin-top:6px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}

/* メニュー */
#menu {
background:rgba(0,0,0,0.8);
border:none;
display:none;
float:left;
border:none;
margin:0;
position:absolute;
width:100%;
z-index:200;
left:0
}
nav li {
display:inherit;
margin:0
}
nav li a {
color:#fff;
display:block;
margin:0;
padding:10px 0;
height:2em;width:100%
}
nav li a:hover {
background:rgba(192,192,192,0.4);
}
}