* { margin: 0; padding: 0; 
	font-size: 12px;}

a {
color:#ef810f;
text-decoration:underline;
}

a:link {
color:#ef810f;
text-decoration:underline;
}

a:visited {
color:#ff5900;
text-decoration:underline;
}

#main {
	margin-right: auto;
	margin-left : auto;
	width:1000px;
}

#leftmain{
margin-right:20px;
width :730px;
display:block;
float:left;
box-sizing: border-box;
}

#rightmain{
width :250px;
display:block;
float:left;
box-sizing: border-box;
}

#headder{
	width :100%;
	height :199px;
	background:#333;
	text-align:center;
	vertical-align: middle;
	border-bottom:1px solid #777;
}

#logo{
	margin-top:30px;
}

#globalNavi{
	width: 100%;
	margin:0px;
	padding:0px;
	background:#333;
	display:block;

}

#globalNavi ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

#globalNavi ul li a{
	background:#333;
	width: 20%;
	float: left;
	padding:10px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #777;
	box-sizing: border-box;
}

#globalNavi ul li a:hover{
	background:#333;
}

#prfl{
	display: block;

}

#prfr{
	display: block;
}

.fixed {
    position: fixed;
    margin:0px;
	padding:0px;
    top: 0;
    width: 100%;
    max-width: 1000px;
    z-index: 10000;
}

.rimenu{
	display:block;
	border:solid 1px #333;
	margin-top:10px;
}

#p1 {
	display:block;
	padding-top:10px;
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
	border-left:solid 30px #333;
	border-right:solid 1px #333;
	margin-top:10px;
	padding-bottom:10px;
	margin-bottom:10px;
	padding-left:5px;
	font-size: 14px;
	text-align:left;
	height : auto;
	width: 100%;
	box-sizing:border-box;
}

#p2 {
	display:block;
/*	padding-left:30px; */
	text-align:left;
	height : auto;
	width:100%;
	box-sizing:border-box;
}

l1 {
	display:block;
	border-left:solid 5px #333;
	border-bottom:dashed 1px #333;
	margin:1px;
	padding-left:5px;
}